<nav>
  <div style="text-align: center">
    <ul>
      <li><a routerLink="/erica" routerLinkActive="active">Erica</a></li>
      <li><a routerLink="/helena" routerLinkActive="active">Helena</a></li>
      <li><a routerLink="/lauren" routerLinkActive="active">Lauren</a></li>
      <li><a routerLink="/manya" routerLinkActive="active">Manya</a></li>
      <li><a routerLink="/simi" routerLinkActive="active">Simi</a></li>    
      <li><a routerLink="/virginia" routerLinkActive="active">Virginia</a></li>
    </ul>
  </div>
<nav>
<hr>
<h1>Click on a Team Member's Name Above to View Their Front End Object!</h1>
<app-ajax></app-ajax>
<router-outlet></router-outlet>