.content {
  width: auto;
  height: auto;
  font-family: 'Quicksand', sans-serif;
}

.heading {
  margin-top: 2%;
  font-weight: bold;
  color: #A5A5EF;
}

.articles-container {
  margin-top: 4%;
  margin-bottom: 3%;
  width: 85%;
}

.articles-container p {
  text-align: left;
}

.articles-container .name {
  font-weight: bold;
  color: #A5A5EF;
}

.articles-container a {
  color: #A5A5EF;
}

/* Search Button */
* {
  box-sizing: border-box;
}

form.example {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
  border-radius: 10px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 7%;
  height: 47px;;
  padding: 10px;
  background: #A5A5EF;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 10px;
}

form.example button:hover {
  background: #8282e0;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
