body{
    background-color: #ebebeb;
    overflow:scroll;
}

#full-navbar {
    background-color:lavender;
    top:0;
    font-family: 'Quicksand', sans-serif;
    width:100%;
    font-size:18px;
    color:#ffffff !important;
    z-index: 10;
}

h1{
    text-align:center;
    font-family: 'Quicksand', sans-serif;
}


.footer {
    position: fixed;
    font-size:17px;
    left: 0;
    bottom: 0;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    background-color: lavender;
    color: black;
    text-align: center;
    border-radius: 15px;
}

.footer1 {
  /* position: fixed; */
  font-size:17px;
  left: 0;
  bottom: 0;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  background-color: lavender;
  color: black;
  text-align: center;
  border-radius: 15px;
}

h4{
    position:relative;
    top:50px;
    margin-top:-40px;
    text-align:center;
}

.submission{
    position:relative;
    text-align:center;
    padding-top:-60%;
}

.flex-container {
  display: flex;
  text-align:center;
  flex-wrap: nowrap;
  background-color: #8e9aaf;
  border-radius:15px;
  margin-right:10%;
  margin-left:10%;
  border: 2px solid black;
  justify-content:center;
}

.flex-container > div {
  background-color: aliceblue;
  width: 250px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}

#periodlength{
    text-align:center;
    margin-bottom:30%;
    width:70%;
}

#cyclelength{
  width:86%;
}

#lastperiod{
    margin-top:4%;
    margin-left:12%;
    font-size:15px;
    border-radius: 25px;
    border: 2px solid #8e9aaf;
    padding:10px;
    width:16%;
    height: 14%

}

#nextperiod{
  margin-top:-8%;
  margin-left:73%;
  font-size:15px;
  border-radius: 25px;
  border: 2px solid #8e9aaf;
  padding: 10px;
  width: 16%;
  height: 14%
}
.forms-display{
  width:100%;
  text-align:center;
  display:inline-block;
}
.mood{
  text-align:left;
  padding-left:10px;
}
#moods{
  margin-left:6%;
}
#sleep{
  position:relative;
  margin-right:10%;
   
}
#display,#displayone{
  display:inline-block;
   margin:0 auto; 
  position:relative; 
}
.sadmood{
  padding-left:18px;
}
.input_hidden {
  position: absolute;
  left: 50px;
}

.input_hidden1 {
  position: absolute;
  right: 50px;
}

.selected {
  background-color: lightblue;
  width:15%;
  display:inline-block;
}

.selected1 {
  background-color: lightblue;
  width:35%;
  display:inline-block;
}

#moods label {
  display: inline-block;
  cursor: pointer;
  align-content:center;
}

#sleep label{
  display:inline-block;
  cursor:pointer;
}

#moods label img {
  padding: 2px;
  width:25%
}

#sleep label img{
  padding:2px;
  width:25%;
}

#notescontainer {
  margin: 20px 20px 20px 20px;
}
#area {
  width: 100%;
  height: 100%;
  font: 1em arial;
  color: rgba(50, 82, 50, 1.0);
}
#area:focus {
  color: black;
  border: 2px lightcyan;
  box-shadow: 0px 1px 1px #888888;
  font-family: 'Indie Flower', cursive;
}

.moodtracker,.sleeptracker,.addnote{
  text-align:center;
  font-size:20px;
}

 .submit{
    margin-top:22px;
    padding-left:-40px;
    background-color:cornflowerblue;
    color:black;
    border-radius:40px;
    width:250px;
    height:40px;
 } 

label[for=quantity]{
    width:150px;
}

.card {
    margin: 10 auto;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .settings{

    font-size:15px;
    border-radius: 25px;
    border: 2px solid lightblue;
    padding: 40px;
    width: 250px;
    float: left;
  }

  .custom-select {
    position: relative;
    font-family: Arial;

  }

  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }

  .select-selected {
    background-color:mistyrose;


  }

  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }

  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color:black;

    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: lightblue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container1 input:checked ~ .checkmark {
    background-color: mistyrose;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*shopping page columns*/
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  .settingsdiv{
    width: 100%;
    height: 50px;
  
    /* Center vertically and horizontally */
    position: absolute;
    top: 20%;
    left: 50%;
    margin: -25px 0 0 -25px;
    
  }
