#full-navbar {
    background-color:lavender;
    font-family: 'Quicksand', sans-serif;
    width:100%;
    font-size:18px;
    color:#ffffff !important;
}

.slogan{
    text-align:center;
    font-family: 'Quicksand', sans-serif;
}

h1{
    text-align:center;
    font-family: 'Quicksand', sans-serif;
}

.intro{
    background-color:lightcyan;
    margin-top: 30px;
    padding-bottom:25px;

}
.footer {
    position: fixed;
    font-size:17px;
    left: 0;
    bottom: 0;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    background-color: mistyrose;
    color: white;
    text-align: center;
}

.questions{
    margin-top:70px;
    padding-left:70px;
    font-size:15px;
}

.questions1{
    margin-top:70px;
    padding-left:70px;
    font-size:15px;

}
.periodquestion{
    padding-left:150px;
    margin-left:75px;
    font-size:15px;
    border-radius: 25px;
    border: 2px solid lightblue;
    padding: 20px;
    width: 200px;
    height: 100px;
}

h4{
    position:relative;
    top:50px;
    text-align:center;
}

.container {
    position: fixed;
    right:-34px;
    padding: 0;
    margin: 0;
}

.left-element {
    display: inline-block;
    float: left;
}

.right-element {
    display: inline-block;
    float: left;
}
.submission{
    text-align:center;
    margin-top:-15px;
}
h4{
    margin-top:-40px;
}

#periodlength{
    background-color:mintcream;
    width:160px;
}



#cyclelength{
  background-color:mintcream;
  width:160px;
}

#lastperiod{
    margin-left:250px;
    font-size:15px;
    border-radius: 25px;
    border: 2px solid cornflowerblue;
    padding: 20px;
    width: 200px;
    height: 100px;
    
}

#nextperiod{
  margin-top:-95px;
  margin-left:900px;
  font-size:15px;
  border-radius: 25px;
  border: 2px solid cornflowerblue;
  padding: 20px;
  width: 200px;
  height: 100px;
}



.submit{
    margin-top:250px;
    padding-left:-40px;
    background-color:cornflowerblue;
    color:black;
    border-radius:40px;
    width:250px;
    height:40px;
}

label[for=quantity]{
    width:150px;
}

.card {
    margin: 10 auto;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
 

  .settings{
   
    font-size:15px;
    border-radius: 25px;
    border: 2px solid lightblue;
    padding: 40px;
    width: 250px;
    float: left;
  }

  .custom-select {
    position: relative;
    font-family: Arial;
  
  } 
   
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color:mistyrose;
    
    
  }
   
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color:black;

    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: lightblue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container1 input:checked ~ .checkmark {
    background-color: mistyrose;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
