#full-navbar {
    background-color:#cfcdcd;
    /* position:fixed;
    top:0; */
    font-family: 'Quicksand', sans-serif;
    width:100%;
    font-size:18px;
    color:#ffffff !important;
}

.slogan{
    text-align:center;
    font-family: 'Quicksand', sans-serif;
}

h1{
    text-align:center;
    font-family: 'Quicksand', sans-serif;
}

.intro{
    background-color:lightcyan;
    margin-top: 30px;
    padding-bottom:25px;

}
.footer {
    position: fixed;
    font-size:17px;
    left: 0;
    bottom: 0;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    background-color: mistyrose;
    color: white;
    text-align: center;
}

.questions{
    margin-top:70px;
    padding-left:70px;
    font-size:15px;
}

.questions1{
    margin-top:70px;
    padding-left:70px;
    font-size:15px;

}
.periodquestion{
    padding-left:150px;
    margin-left:75px;
    font-size:15px;
    border-radius: 25px;
    border: 2px solid lightblue;
    padding: 20px;
    width: 200px;
    height: 100px;
    
}

h4{
    position:relative;
    top:50px;
    text-align:center;
}

.container {
    position: fixed;
    right:-34px;
    padding: 0;
    margin: 0;
}

.left-element {
    display: inline-block;
    float: left;
}

.right-element {
    display: inline-block;
    float: left;
}
.submission{
    text-align:center;
}
h4{
    margin-top:-40px;
}

#periodlength{
    background-color:mintcream;
    width:160px;
}

#lastperiod{
    margin-left:250px;
    font-size:15px;
    border-radius: 25px;
    border: 2px solid lightblue;
    padding: 20px;
    width: 200px;
    height: 100px;
    
}



.submit{
    margin-top:250px;
    padding-left:-40px;
    background-color:cornflowerblue;
    color:black;
    border-radius:40px;
    width:250px;
    height:40px;
}

label[for=quantity]{
    width:150px;
}





