<html>

<head>
  <title>Learn</title>
  <!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content" align="center">
    <h1 class="heading">SHOP FOR MENSTRUAL PRODUCTS</h1>
    
    <div>
	  	<a href="https://www.plannedparenthood.org/health-center">
	  		<button class="button button1">Planned Parenthood Near Me</button>
	 	</a>
	 	<a href="https://www.wellandgood.com/free-tampons-pads/">
			<button class="button button1">Organizations that Provide Free Products</button>
		</a>
	</div>

	<div>
		<p class="productName">Sanitary Pads</p>
		<img src="../../assets/images/Pad.png">
	</div>

	<div>
		<p class="productName">Tampons</p>
		<img src="../../assets/images/Tampon.png">
	</div>

	<div>
		<p class="productName">Period Underwear</p>
	</div>

	<div>
		<p class="productName">Menstrual Cups</p>
	</div>

	<div>
		<p class="productName">Menstrual Disks</p>
	</div>

	<div>
		<p class="productName">Reusable Cloth Pads</p>
	</div>
  </div> 

<!-- Beginning of Footer  -->
  <div class="footer">
      <p class="footer-text">Luna Copyright &copy; 2021.</p>
  </div>
</body>

</html>
