<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Luna!</title>
  <link rel="icon" href="moon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--<link rel="stylesheet" type="text/css" href="./master.css"/> 
  <link rel="stylesheet" type="text/css" href="./index.css"/> 
  <link rel="stylesheet" type="text/css" href="./index_StarBackground.css"/>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x: hidden">
  <!-- Start of Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" id="full1-navbar">
    <a class="navbar-brand" href="#"><img src='logo.png' height='70px'/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./calendar.html">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./tracker.html">Tracker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./shop.html">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./learn.html">Learn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./settings.html">Settings</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./profile.html">Profile</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End of Navbar  -->

  <!-- Start of Page Body -->

  <!--Intro and Slogan Box-->
  <div class="jumbotron intro rounded-pill">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class = "col-md-8 mx-auto" id = "IntroSloganBox">
        <h1 class="display-4">Luna</h1>
        <p class="slogan">Track cycles. Accurate predictions. Learn about your body.</p>
    </div>
  </div>

    <!--About Us-->
    <div id="AboutUsContent">
      <h2>About Us:</h2>
      <div id="borderAboutUs"></div>
      <div id="AboutUsBoxes">
        <div id="leftBox">
          <h3>
            At its core, Luna is a one-stop location to improve awareness and knowledge of menstruation and period care.
            As both a desktop and mobile web application, Luna is helping users stay organized and educated about menstruation.
          </h3>
        </div>
      
        <div id="centerBox">
          <h3>
            Luna's purpose is to increase access to helpful advice about menstruation, provide people with a means of tracking period-related
            events, and destigmatize menstrual care by providing factual information.
          </h3>
        </div>
      
        <div id="rightBox">
          <h3>
            Within the application, you can find helpful information about experiencing a first period, menstruation cycles and flow, the changes
            that come along with puberty, birth control options, and more.
          </h3>
        </div>
      </div>
    </div>

    <!--Luna Statistics-->
    <div id="LunaStatsBox">
      <h2>Luna's Importance:</h2>
      <p>
        Luna is an application developed to support individuals who experience menstruation with factual information and valuable tools.
        Luna's potential to beneficially impact its users is explained through data visualizations shown below. These diagrams are based upon 
        a recent study on the prevalence of menstrual pain. The conclusions drawn from the research experiment highlight the importance of being 
        educated about menstruation and its related symptoms. 
      </p>
      <img src="../../assets/images/Pain_Onset_vs_Menarche.jpg" alt="Pie Chart" width="380px" height="400px" class="StatsIm">
      <h3>Figure 1: Pain Onset vs. Menarche</h3>
      <p>
        Menarche is the first menstrual period that an individual may experience. The data visualization illustrated in Figure 1 shows that
        individuals who are on their first period typically experience menstrual pain during this time, while others will experience this pain
        within the coming year. Therefore, it's important for young individuals to be educated on menstruation, so they can better handle any
        negative symptoms that may be encountered during their menarche and the immediate time after.
      </p>
      <img src="../../assets/images/Performance_Absence.png" alt="Barplot"width="380px" height="400px" class="StatsIm">
      <h3>Figure 2: Effects of Periods on Performance/Absences of Individuals</h3>
      <p>
        The data visualization illustrated in Figure 2 shows that approximately half of the individuals who were in the case study experienced
        an increase in absenteeism and a decrease in performance both socially and academically. Knowing more about menstrual flow and the symptoms
        associated with it can help individuals avoid having to miss important events. It's clear that the ability to manage the negative side effects 
        that are correlated with periods can benefit individuals on a monthly basis.
      </p>
    </div>

    <!--What We Offer-->
    <div class="container-xl float left rounded-top rounded-bottom border border-white" id="WhatWeOffer">
      <h2>What We Offer:</h2>
      <p>
        Displayed below are the plethora of features and elements incorporated into Luna to assist users with periods and other
        menstruation concerns. Utilize the arrows on the left and right to view various components that Luna supports, or use the 
        indicators located at the bottom of the information carousel to select a specific option.
      </p>
      <div class="container-xl float left rounded-top rounded-bottom" id="CarouselSlider">
        <!-- Carousel wrapper -->
          <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class = "mx-auto d-block" src="./images/calendar.png" alt="Slider1">
                <div style="background-color: #4A4E69;  border-radius: 15px;" class="carousel-caption">
                  <a href="./calendar.html">Get Reminded of Upcoming Events</a>
                  <h3>Use the Calendar Feature to Record your Cycle and Get Notifications for Future Cycles.</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img class = "mx-auto d-block" src="./images/tracker.png" alt="Slider2">
                <div style="background-color: #4A4E69;  border-radius: 15px;" class="carousel-caption">
                  <a href="./tracker.html">Begin Keeping Track</a>
                  <h3>Record your Recent Symptoms and Cycle Dates and Get Predictions for Future<br>Ones.</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img class = "mx-auto d-block" src="images/shopping.png" alt="Slider3">
                <div style="background-color:#4A4E69;  border-radius: 15px;" class="carousel-caption">
                  <a href="./shop.html">Be Prepared</a>
                  <h3>Find Links and Information to Purchasing Feminine Hygiene Products Here.</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img class = "mx-auto d-block" src="images/education.png" alt="Slider4">
                <div style="background-color:#4A4E69;  border-radius: 15px;" class="carousel-caption">
                  <a href="./learn.html">Learn More About Menstruation</a>
                  <h3>Read up and Learn More on Menstruation Through Links to General Information<br>and Articles.</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img class = "mx-auto d-block" src="images/profile.png" alt="Slider5">
                <div style="background-color: #4A4E69; border-radius: 15px;"class="carousel-caption">
                  <a href="./profile.html">Customize your Profile Page</a>
                  <h3>Register or Login to Luna Today.</h3>
                </div>
              </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        <!-- Carousel wrapper -->
      </div>
    </div>

  <!-- Background Box
  <div id="LunaBorderBackground">
    <h3>Test</h3>
  </div> -->

  <!--Footer-->
  <div class="footer">
    <p class="footer-text">Luna Copyright &copy; 2021.</p>
  </div>
  
  <!-- End of Page Body -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>