<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Luna!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="moon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--<link rel="stylesheet" type="text/css" href="./master.css"/> 
  <link rel="stylesheet" type="text/css" href="./index.css"/> 
  <link rel="stylesheet" type="text/css" href="./index_StarBackground.css"/>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>             
</head>
<body style="overflow: auto !important;">
  <!-- Start of Page Body -->

  <!--Intro and Slogan Box-->
  <div class="jumbotron intro rounded-pill">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class = "col-md-8 mx-auto" id = "IntroSloganBox">
        <h1 class="display-4">Luna</h1>
        <p class="slogan">Track cycles. Accurate predictions. Learn about your body.</p>
    </div>
  </div>

    <!--About Us-->
    <div id="AboutUsContent">
      <h2>About Us:</h2>
      <div id="borderAboutUs"></div>
      <div id="AboutUsBoxes">
        <div id="leftBox">
          <h3>
            As both a desktop and mobile web application, Luna is helping users stay organized and educated, and improve awareness
            about menstruation.
          </h3>
        </div>
      
        <div id="centerBox">
          <h3>
            Luna's purpose is to increase access to helpful advice about menstruation, provide a means of tracking period-related
            events, and destigmatize menstrual care.
          </h3>
        </div>
      
        <div id="rightBox">
          <h3>
            Within the application, you can find information about experiencing a first period, menstruation cycles, puberty, birth
            control options, and more.
          </h3>
        </div>
      </div>
    </div>

    <!--What We Offer-->
    <div class="container-xl float left rounded-top rounded-bottom border border-white" id="WhatWeOffer">
      <h2>What We Offer:</h2>
      <p>
        Displayed below are the plethora of features and elements incorporated into Luna to assist users with periods and other
        menstruation concerns. Utilize the arrows on the left and right to view various components that Luna supports, or use the 
        indicators located at the bottom of the information carousel to select a specific option.
      </p>
      <div class="container-xl float left rounded-top rounded-bottom" id="WhatWeOfferTable">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="col-xs-1">
                  <img class = "mt-xl-4 d-block" src="../../assets/images/calendar.png" alt="Calendar">
                </th>
                <th scope="col" class="col-xs-1">
                  <img class = "mt-xl-4 d-block" src="../../assets/images/tracker.png" alt="Tracker">
                </th>
                <th scope="col" class="col-xs-1">
                  <img class = "mt-xl-4 d-block" src="../../assets/images/shopping.png" alt="Shopping">
                </th>
                <th scope="col" class="col-xs-1">
                  <img class = "mt-xl-4 d-block" src="../../assets/images/education.png" alt="Eduction">
                </th>
                <th scope="col" class="col-xs-1">
                  <img class = "mt-xl-4 d-block" src="../../assets/images/profile.png" alt="Profile">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a routerLink="/calendar" routerLinkActive="active"><span>Get Reminded</span></a>
                </td>
                <td>
                  <a routerLink="/tracking" routerLinkActive="active"><span>Keep Track</span></a>
                </td>
                <td>
                  <a routerLink="/shopping" routerLinkActive="active"><span>Be Prepared</span></a>
                </td>
                <td>
                  <a routerLink="/learn" routerLinkActive="active"><span>Learn More</span></a>
                </td>
                <td>
                  <a routerLink="/profile" routerLinkActive="active"><span>Customize</span></a>
                </td>
              </tr>
              <tr>
                <td>
                  <h3>Use the Calendar Feature to Record your Cycle and Get Notifications for Future Cycles.</h3>
                </td>
                <td>
                  <h3>Record your Recent Symptoms and Cycle Dates and Get Predictions for Future<br>Ones.</h3>
                </td>
                <td>
                  <h3>Find Links and Information to Purchasing Feminine Hygiene Products Here.</h3>
                </td>
                <td>
                  <h3>Read up and Learn More on Menstruation Through Links to General Information<br>and Articles.</h3>
                </td>
                <td>
                  <h3>Register or Login to Luna Today.</h3>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--Luna Statistics-->
    <div id="LunaStatsBox">
      <h2>Luna's Importance:</h2>
      <p>
        Luna is an application developed to support individuals who experience menstruation with factual information and valuable tools.
        Luna's potential to beneficially impact its users is explained through data visualizations shown below. These diagrams are based upon 
        a recent study on the prevalence of menstrual pain. The conclusions drawn from the research experiment highlight the importance of being 
        educated about menstruation and its related symptoms. 
      </p>
      <img src="../../assets/images/Pain_Onset_vs_Menarche.jpg" alt="Pie Chart" width="380px" height="400px"  class="ri" id="StatsIm">
      <h3>Figure 1: Pain Onset vs. Menarche</h3>
      <p>
        Menarche is the first menstrual period that an individual may experience. The data visualization illustrated in Figure 1 shows that
        individuals who are on their first period typically experience menstrual pain during this time, while others will experience this pain
        within the coming year. Therefore, it's important for young individuals to be educated on menstruation, so they can better handle any
        negative symptoms that may be encountered during their menarche and the immediate time after.
      </p>
      <img src="../../assets/images/Performance_Absence.png" alt="Barplot"width="380px" height="400px" class="ri" id="StatsIm">
      <h3>Figure 2: Effects of Periods on Performance/Absences of Individuals</h3>
      <p>
        The data visualization illustrated in Figure 2 shows that approximately half of the individuals who were in the case study experienced
        an increase in absenteeism and a decrease in performance both socially and academically. Knowing more about menstrual flow and the symptoms
        associated with it can help individuals avoid having to miss important events. It's clear that the ability to manage the negative side effects 
        that are correlated with periods can benefit individuals on a monthly basis.
      </p>
    </div>

  <!-- Background Box
  <div id="LunaBorderBackground">
    <h3>Test</h3>
  </div> -->

  <!--Footer-->
  <div class="footer">
    <p class="footer-text">Luna Copyright &copy; 2021.</p>
  </div>
  
  <!-- End of Page Body -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>