<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/app/spotify/spotify.component.css">

    </head>
    <body>
        <div id="greetings">Click on a team member's link to see their <br> individual frontend objects!</div>

        <div id="borderLeft"></div>
        <div id="borderRight"></div>
        <div id="borderTop"></div>

        <button id="button" onclick="window.location.href='erica'">Erica</button>
        <button id="button" onclick="window.location.href='helena.html'">Helena</button>
        <button id="button" onclick="window.location.href='lauren.html'">Lauren</button>
        <button id="button" onclick="window.location.href='manya.html'">Manya</button>
        <button id="button" onclick="window.location.href='simi.html'">Simi</button>
        <button id="button" onclick="window.location.href='virginia.html'">Virginia</button>

        <footer class="footer">
            <p class=”text-center”>Design by Team luna</p>
        </footer>
    </body>
</html>



