/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(255, 255, 255);
    padding: 2px;
    border: 5px solid rgb(70, 70, 70);
    border-radius: 2px;
}
*{
    margin: 0;
    padding: 0;
}
