.main {
    background-color: #ddb2c8;
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;

}

button {
    display: inline-block;
    padding: 7px 20px;
	/* border-radius: 25px; */
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #f0269c 0%, #f397d0 100%);
    background-image: linear-gradient(45deg, #f0269c 0%, #f397d0 100%);
    transition: .4s;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-image: -webkit-linear-gradient(45deg, #f397d0 0%, #f0269c 100%);
    background-image: linear-gradient(45deg, #f397d0 0%, #f0269c 100%);
}

h1, h2 {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-style: italic;
}