.main {
    background-color: #ddb2c8;
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;

}

h1 {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}