<!DOCTYPE html>
<html>
<body>
    <div class="main">
        <h1>Erica's Page</h1>
        <h2>Click a button to generate CSV files of User data from Luna:</h2>
        <button (click)="makeFirstDataSet()">Download Dataset 1</button>
        <button (click)="makeSecondDataSet()">Download Dataset 2</button>
    </div>
    <div style='height: 30px'></div>
    <div class="main">
        <h2>See the data visualizations below:</h2>
        <img src="../../assets/data_visualizations/erica-plot1.png" alt="Histogram">
        <img src="../../assets/data_visualizations/erica-plot2.png" alt="Barplot">
    </div>
</body>
</html>
