<!DOCTYPE html>
<html>
<body>
    <div class="title">
        <h1>Lab 6: Helena O'Sullivan (osullh)</h1>
    </div>
    <br>
    <br>
    <div class="main_boxes">
        <h1>Click To Generate a CSV file of the Pain Onset vs. Menarche Data:</h1>
        <button (click)="makeCSV1()">Generate Data</button>
        <h1>Click To Generate a CSV file of the all the Home Page Data:</h1>
        <button (click)="makeCSV2()">Generate Data</button>
    </div>
    <br>
    <br>
    <div class="main_boxes">
        <h1>See the 3 Data Visualizations for the Luna Home Page below:</h1>
        <img src="../../assets/data_visualizations/Pain_Onset_vs_Menarche.jpg" alt="Pie Chart" width="500" height="600">
        <img src="../../assets/data_visualizations/Pain_Onset_vs_Menstrual_Flow.jpg" alt="Pie Chart" width="700" height="600">
        <img src="../../assets/data_visualizations/Performance_Absence.png" alt="Barplot"width="500" height="600">
    </div>
</body>
</html>
