/* Beginning of master.css */
body{
  overflow:auto; /* overflow:scroll was causing multiple scroll bars to appear*/
  background-color: white;
}

#full-navbar {
  background-color:lavender;
  top:0;
  font-family: 'Quicksand', sans-serif;
  width:100%;
  font-size:18px;
  color:#ffffff !important;
  z-index: 10;
}

h1{
  text-align:center;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #A5A5EF;
  margin: 12px;
}

/* CSS for Log-In/Sign-Up */
label{
  float: left;
  font-family: 'Quicksand', sans-serif;
}

/* Full-width input fields */
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: 'Quicksand', sans-serif;
}

/* Add a background color when the inputs get focus */
input {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: lavender;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  font-family: 'Quicksand', sans-serif;
  padding: 15px;
  margin: 7px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

button:hover {background-color: #937DCA;}

/* Add padding to container elements */
.container-login {
  /* margin-top: 20px; */
  width: 100%;
  /* height: 100%; */
  padding: 16px;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: #32344D; */
  background-color: #ebebeb;
  padding-top: 80px;
  margin-top: 3%;
  margin-bottom: 30px;
}

/* Modal Content/Box */
.modal-content {
  background-color:  #fefefe;
  margin: 2% auto 7% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #ffffff;
  width: 80%; /* Could be more or less, depending on screen size */
}

#loginbox p {
  font-size: 18px;
}

/* Style the horizontal ruler */
hr {
  border: 3px solid #30314b;
  margin-bottom: 25px;
  width:60%;
}

.footer {
  position: fixed;
  font-size:17px;
  left: 0;
  bottom: 0;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  background-color: lavender;
  color: black;
  text-align: center;
  border-radius: 15px;
  margin-top: 20px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #937DCA;
  margin-top: 100px;
  margin-right: 160px;  
  z-index: 10;
}

@media screen and (orientation: portrait) {
  .close { margin-top: 80px;  margin-right: 5px; z-index: 10; }
}

.close:hover,
.close:focus {
  color: #937DCA;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#loginbox{
  background-color: white;
  border-radius: 5px;
  margin-top: 90px;
  padding-top: 70px;
}

#loginboxBegin{
  background-color: rgba(230, 230, 250, 0.863);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 30px;
}

.container{
  border-top-color: none;
}
