<!DOCTYPE html>
<html lang="en">
   <head>
       <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./login.component.css"></link>

    </head>
    <body>
        <div class="container vertical-center">
            <h1>Welcome New or Existing User</h1>
            <p style="font-size: 14px">Welcome to Luna! Please enter the following information to finish creating your profile.</p>
            <hr>

            <input class="new_user" type="text" name="username" placeholder="Username" required>
            <input class="new_user" type="text" name="type" placeholder="Current Date (Month/Day/Year Format)" required>
            <input type="submit" value="Login">
        </div>
    </body>

</html>