<!-- <!DOCTYPE html>
<html lang="en" style="background-color: #EBEBEB;">
   <head>
       <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body> -->

<div class="container-login text-center vertical-center" id="loginbox">
    <h1>WELCOME NEW OR EXISTING USER</h1>
    <p style="font-size: 14px">
        Welcome to Luna! If you have an existing account with Luna, please click on the "Login" button below. Otherwise,
        please click on the "Sign Up" button.
    </p>
    <!-- <hr> -->

    <!-- Sign-Up -->
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
    <div id="id01" class="modal">
        <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span> -->
        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
                <form class="modal-content animate" method="POST" action="/add_user">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
                    </div>
                    <div class="container">
                        <h1>Sign Up</h1>
                        <p>Please fill in this form to create an account with Luna.</p>
                        <hr>
                        <label for="name"><b style="text-align: left">Name</b></label>
                        <input type="text" placeholder="Enter Name" name="name" required>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                        <label for="age"><b>Age</b></label>
                        <input type="number" placeholder="Enter Age" name="age" required>

                        <label for="mode"><b>Choose App Mode</b></label><br>
                        <select name = "mode" style="float: left; margin-left: 10px; margin-bottom: 10px;">
                            <option value = "Pre-Puberty" selected>Pre-Puberty</option>
                            <option value = "Puberty">Puberty</option>
                            <option value = "Menstruation">Menstruation</option>
                            <option value = "Pregnancy">Pregnancy</option>
                            <option value = "Menopause">Menopause</option>
                        </select>

                        <!--<label for="date"><b>Date</b></label>
                        <input type="date" placeholder=" Enter Date in MM/DD/YYYY format" name="date" required style = "margin-bottom: 20px;">
                        -->
                        <button type="submit" (click)="sendData()" style= "width: 100%" class="signupbtn">Sign Up</button>
                    </div>
                </form>
            </div>
        </form>
    </div>

    <!--Login-->
    <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Login</button>
    <div id="id02" class="modal">
        <!-- <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close">&times;</span> -->
        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close">&times;</span>
                <form class="modal-content animate" method="POST" action="/validate">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close">&times;</span>
                    </div>
                    <div class="container">
                        <h1>Log In</h1>
                        <p>Please fill in this form to log into Luna.</p>
                        <hr>
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit" (click)="checkUserExists()">Login</button>
                    </div>
                </form>
            </div>
            <div class="container-login">
                <h1>LOG IN</h1>
                <p>Please fill in this form to log into Luna.</p>
                <!-- <hr> -->
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="name" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <button style= "width: 100%" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Get the modal
    var modal1 = document.getElementById('id01');
    var modal2 = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal1 || event.target == modal2) {
            modal1.style.display = "none";
            modal2.style.display = "none";
        }
    }
</script>

    <!-- </body>

</html> -->
