<html>
<head>
  <title>My Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/img/user_icon.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Morgan Smith</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: <a href=''>morgansmith@gmail.com</a></li>
      <li class="list-group-item">Date Joined: 3/8/2021</li>
      <li class="list-group-item"><a href="">Update Password</a></li>
      <div class="card-body">
        <a href="#" class="card-link">Change Photo</a>
        <a href="#" class="card-link">Change Email</a>
      </div>
    </ul>
  </div>
</body>
</html>