<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
<h1>Cycle Analysis</h1><br>
<div class="csvbutton">
<button (click)="makeCSV();clickEvent()">Click to Download CSV File</button>
</div>
<h2>{{msg}}</h2>
<div class="graph">
    <div id="graph1">
    <img src="../../assets/data_visualizations/mood-during-cycle1-manya.PNG">
    </div><br><br>
    <div id="graph2">
    <img src="../../assets/data_visualizations/quality-sleep-manya.png">
    </div>
</div>