<!DOCTYPE html>
<html>
<body>
    <div class="main">
        <h1>Click here to generate a CSV file of Symptoms data from Luna:</h1>
        <button (click)="makeFirstDataSet()">Generate Data</button>
        <h1>Click To Generate a CSV file of the all the Symptoms and User Data:</h1>
        <button (click)="makeSecondDataSet()">Generate Data</button>
    </div>
    <div style='height: 30px'></div>
    <div class="main">
        <h1>See the data visualizations below:</h1>
        <img src="../../assets/data_visualizations/simi-plot1.png" alt="Barplot">
        <img src="../../assets/data_visualizations/simi-plot2.png" alt="Barplot">
    </div>
</body>
</html>
