<p>tracking works!</p>
<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <link rel="icon" href="moon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="./master.css"/>  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

</head>
<body>

  <!-- End of Navbar  -->
   <br> <h4>PLEASE ANSWER THE BELOW QUESTIONS TO TRACK YOUR CYCLE </h4><br><br><br>

      <!-- </form> -->
    <form method="POST" id="form1" action="/infopost">
    <div class="flex-container">
      <div>1. When Did Your Period Begin?<br><br>
          <input type="date" id="startdate" name="startdate" required>
      </div>
      <div>2. How Many Days Is Your Period?<br><br>
          <input type="number" id="periodlength" placeholder="Period Length" name="periodlength" min="0" max="30">
      </div>
      <div>3. How Many Days Is Your Cycle?<br><br>
          <input type="number" id="cyclelength" placeholder="Menstrual Cycle Length" name="cyclelength" min="0" max="30" required>
      </div>  
    </div>
    <!-- onclick="showInput();" -->
  <div class="submission">
    <input class="submit" ons-col ng-click="showInput()"  value="Cycle Countdown"><br>
  <!-- <input class="submit" type="submit" onclick="showInput();" value="Start Tracking Your Cycle"><br> -->
  <!-- </form> -->
  <div id="lastperiod">
  <p class="lastperiods">Your last period was:<b><p><span id='display'></span></p></b> </p>
  </div>
  <div id="nextperiod">
    <p class="nextperiods">Your next period is in:<b><p><span id='displayone'></span></p></b> </p>
    </div><br><br>
  </div>

  <p class="moodtracker"><b>Track Your Mood</b></p><br><br><br>
  <div id="moods">
    <input type="radio" name="mood" value="Happy" id="mood"/>
        <label for="Happy"><img src="../../assets/images/happy1.png" />
        <p class="mood">Happy</p></label>

    <input type="radio" name="mood" value="Sad" id="mood"/>
        <label for="Sad"><img src="../../assets/images/sad1.png"   />
        <p class="sadmood">Sad</p></label>

    <input type="radio" name="mood" value="Worry" id="mood" />
    <label for="Anxious"><img src="../../assets/images/worry1.png"  />
    <p class="mood">Anxious</p></label><br>

    <input type="radio" name="mood" value="Irritable" id="irritable" />
    <label for="Irritable"><img src="../../assets/images/irritable.png"  />
    <p class="mood">Irritable</p></label>

    <input type="radio" name="mood" value="Upset" id="upset" />
    <label for="Upset"><img src="../../assets/images/upset.png"  />
    <p class="mood">Upset</p></label>

    <input type="radio" name="mood" value="Fear" id="fear" />
    <label for="Scared"><img src="../../assets/images/fear.png"  />
    <p class="scaredmood">Scared</p></label>
</div><br>
<p class="sleeptracker"><b>Track Your Sleep</b></p><br><br><br>
<div id="sleep">
    <input type="radio" name="sleep" value="Poor" id="poor" />
        <label for="sad"><img src="../../assets/images/onepillow.png"  />
        <p class="mood">Poor</p></label>

    <input type="radio" name="sleep" value="Fair" id="fair" />
        <label for="happy"><img src="../../assets/images/twopillow.png" />
        <p class="mood">Fair</p></label> 

     <input type="radio" name="sleep" value="Good" id="good" />
    <label for="happy"><img src="../../assets/images/threepillow.png"  />
    <p class="mood">Good</p></label>
</div><br>


<p class="addnote"><b>My Notes</b></p>
<div id="notescontainer">
    <textarea id="area" name="notes" placeholder="Add more details regarding your mood and sleep patterns." rows="10" cols="40"></textarea>
</div>
<input type="hidden" name="_to" value="manyatrehan14@gmail.com" />
<div id="finalsubmit">
<button (click)="makeFirstDataSet();clickEvent()">Save Information</button><br><br>
</div>
<h2>{{msg}}</h2>

<!-- <input class="submit" id="finalsubmit" type="submit" onclick="showInput();" value="Save"><br><br><br> -->
</form>
<p class="askquestion">Have a Question for a Member of Our Team?</p><br><br>
<form id="askquestions" action="https://mailthis.to/manyatrehan14@gmail.com" method="POST">
  <input type="text" name="question" placeholder="Your name">
  <input type="email" name="_replyto" placeholder="Your email">
  <input type="text" name="question" placeholder="Your Question">
  <input type="submit" value="Send Email">
</form><br><br>

<div id="submittwo">
  <div class="forms-display">
    <form method="GET" id="form2" action="/trackerimage">
      <input type="submit" name="trackerimage" id="displaytwo" value="Cycle Analysis">
    </form>
    </div>
<button id="displaythree" (click)="makeCSV();clickEvent1()">Click to Download Cycle Tracking Data</button>
<h2>{{msg1}}</h2>
 
</div><br><br>
  
    <div class="footer1">
      <p class="footer-text">Luna Copyright &copy; 2021.</p>
    </div> 
</body>
</html>

<script>
  function showInput() {
    document.getElementById('display').innerHTML = document.getElementById("startdate").value;
    document.getElementById('displayone').innerHTML = document.getElementById("cyclelength").value-1+" days";
}  

// $('#moods input:radio').addClass('input_hidden');
// $('#moods label').click(function(){
//     $(this).addClass('selected').siblings().removeClass('selected');
// });
// $('#sleep input:radio').addClass('input_hidden1');
// $('#sleep label').click(function(){
//     $(this).addClass('selected1').siblings().removeClass('selected1');
// });
</script>
