/* Beginning of master.css */
body {
    /* background-color: #ebebeb; */
    background-color: white;
    /* overflow:scroll; */
  }

  .footer {
    position: fixed;
    font-size:17px;
    left: 0;
    bottom: 0;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    background-color: lavender;
    color: black;
    text-align: center;
    border-radius: 15px;
  }
  /* End of master.css */
  /* Beginning of shopping.css */
  .content {
    /* width: auto;
    height: auto; */
    margin-top: 100px;
    font-family: 'Quicksand', sans-serif;
  }

  .heading {
    background-color: white;
    margin-top: 2%;
    font-weight: bold;
    color: #A5A5EF;
  }

  h3 {
    margin: 0 0 10px;
  }

  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  mbsc-eventcalendar{
    background-color: white;
    /* background-color: #ebebeb; */
  }

  .mbsc-form-group{
    background-color: white;
    /* background-color: #ebebeb; */
  }

  .mbsc-popup-button-primary{
    background-color:#A5A5EF;
  }
