<html>

<head>
  <title>Calendar</title>
  <!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content" align="center">
    <h1 class="heading">MENSTRUATION CYCLE CALENDAR</h1>
    <h4 class = "heading">Fill out this form to create calendar events</h4>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe7u9XoPshIO5QPxTJQbw2tKMutmItp-SlyF75yy0laC4R-tQ/viewform?embedded=true" width="640" height="587" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23B39DDB&amp;ctz=America%2FNew_York&amp;src=dWsyMnA5bTdqaWF2cHFyOThzMTRuaWc3ajRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23D50000" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    <!-- <mbsc-eventcalendar [data]="myEvents" [options]="calendarOptions" [(selectedDate)]="calendarSelectedDate">
    </mbsc-eventcalendar>
    <mbsc-popup [options]="popupOptions" [anchor]="popupAnchor" [buttons]="popupButtons" [headerText]="popupHeaderText" #popup>
        <div class="mbsc-form-group">
            <mbsc-input label="Title" [(ngModel)]="popupEventTitle"></mbsc-input>
            <mbsc-textarea label="Symptoms" [(ngModel)]="popupEventDescription"></mbsc-textarea>
        </div>
        <div class="mbsc-form-group">
            <mbsc-switch label="Notifications" [(ngModel)]="popupEventAllDay"></mbsc-switch>
            <mbsc-datepicker [(ngModel)]="popupEventDates" [options]="datePickerOptions" [startInput]="startInput"
                [endInput]="endInput"></mbsc-datepicker>
            <mbsc-input #startInput label="Starts"></mbsc-input>
            <mbsc-input #endInput label="Ends"></mbsc-input>
            <div *ngIf="isEdit" class="mbsc-button-group">
                <mbsc-button class="mbsc-button-block" color="danger" variant="outline" (click)="onDeleteClick()">Delete event
                </mbsc-button>
            </div>
        </div>
    </mbsc-popup> -->
    
    

  </div> 

<!-- Beginning of Footer  -->
  <div class="footer">
      <p class="footer-text">Luna Copyright &copy; 2021.</p>
  </div>
</body>

</html>
