  <div class="content" align="center">
    <h1 class="heading">LEARN FROM OUR COLLECTION OF VERIFIED ARTICLES</h1>
    <!-- <form class="example" align="center">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form> -->

    <!-- Category Buttons -->
    <!-- <div class="categoryButtons" [innerHTML]="buttonsListText | safe: 'html'"></div> -->
    <div>
      <button type="submit" (click)="getArticlesData()" class="button button1">All</button>
      <button type="submit" (click)="getArticlesDataCategory('General')" class="button button1">General</button>
      <button type="submit" (click)="getArticlesDataCategory('Hygiene')" class="button button1">Hygiene</button>
      <button type="submit" (click)="getArticlesDataCategory('Birth Control')" class="button button1">Birth Control</button>
      <button type="submit" (click)="getArticlesDataCategory('Cramps')" class="button button1">Cramps</button>
      <button type="submit" (click)="getArticlesDataCategory('Gyno')" class="button button1">Gyno</button>
      <button type="submit" (click)="getArticlesDataCategory('Products')" class="button button1">Products</button>
    </div>

    <div class="articles-container" [innerHTML]="articlesListText"></div>


<!-- Beginning of Footer  -->
  <div class="footer">
      <p class="footer-text">Luna Copyright &copy; 2021.</p>
  </div>
