<body>
  <div class="content" align="center">
    <h1 class="heading">LEARN FROM OUR COLLECTION OF VERIFIED ARTICLES</h1>
    <form class="example" align="center">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <!-- Category Buttons -->
    <div class="categoryButtons">
      <button type="submit">General</button>
      <button type="submit">Hygiene</button>
      <button type="submit">Cramps</button>
      <button type="submit">Gyno</button>
      <button type="submit">Products</button>
    </div>


    <div class="articles-container" [innerHTML]="articlesListText"></div>

<!-- Beginning of Footer  -->
  <div class="footer">
      <p class="footer-text">Luna Copyright &copy; 2021.</p>
  </div>
