<body>
  <div class="content" align="center">
    <h1 class="heading">LEARN FROM OUR COLLECTION OF VERIFIED ARTICLES</h1>
    <form class="example" align="center">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="articles-container" [innerHTML]="articlesListText"></div>
    <!-- <div class="articles-container">
      <div class="article">
        <h1 class="text-left"><a class="name" href="http://google.com">Testing</a></h1>
        <p>Testing blahblah ablhakdkjasdjk</p>
        <div>
          <div class="more label text-right"><a href="http://google.com">Read more</a></div>
        </div>
        <div class="clear"></div>
        <hr>
      </div>
    </div>
  </div> -->

<!-- Beginning of Footer  -->
  <div class="footer">
      <p class="footer-text">Luna Copyright &copy; 2021.</p>
  </div>
