body {
  background-image: url("../img/newspaper.jpg");
  width: 100%;
}

.article-list {
  background-image: url("../img/newspaper.jpg");
  width: 100%;l
}

#heading {
  font-family: 'UnifrakturCook', cursive;
  font-size: 500%;
  color: #282828;
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #282828;
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}

#heading span {
  background-image: url("../img/newspaper.jpg");
  padding: 0 10px;
}

#subheading {
  color: #282828;
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 5%;
}

.article {
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  color: #282828;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}

.article-padding {
  margin-right: 5%;
}

.article-title {
  font-size: 200%;
}
.article-description {
  font-size: 130%;
}
.article-description span{
  font-family: 'UnifrakturCook', cursive;
  font-size: 150%;
  font-weight: none;
}

.footer{
  text-align:center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%
}
