body {
  background-color: #F5ECEC;
}
.article-list {
  background-color: #F5ECEC;
}

#heading {
  font-family: 'UnifrakturCook', cursive;
  font-size: 500%;
  color: black;
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}

#heading span {
  background: #F5ECEC;
  padding: 0 10px;
}
